{{ form.wrapper.filed_dispute_fieldset }}
<div class="dispute-info hidden" data-dispute-info="filed_dispute_fieldset">
  <p>{% trans %}Thank you for letting us know that you have not initiated Step 1 of the classification dispute process.</br>We recommend submitting this form and consulting with your Workplace Rep before contacting your employer in writing.{% endtrans %}</p>
</div>
