{{ form.wrapper.member_information_fieldset }}
{{ form.wrapper.contact_dispute_fieldset }}
<div class="dispute-info hidden" data-dispute-info="contact_dispute_fieldset">
  <p>{% trans %}Please note that unless you choose "My Home" the Workplace Rep will NOT have access to your personal contact information.{% endtrans %}</p>
</div>
